openapi: 3.2.0
info:
  title: Mention Stats API
  description: 'The Mention API is a JSON-based, RESTful API that gives programmatic access to the media monitoring and social listening platform: alerts (the keyword queries Mention crawls for), mentions (the results it finds), curation, tags, tasks, alert sharing, authors and influencers, and aggregate statistics.'
  version: '1.21'
  contact:
    name: Mention Support
    url: https://en.support.mention.com/
  license:
    name: Proprietary
    url: https://mention.com/en/terms-and-conditions/
servers:
- url: https://api.mention.net/api
  description: Mention API — the base URL named in Mention's own reference documentation.
- url: https://api.mention.com/api
  description: Alternate host observed answering the same API (returns the same OAuth2 challenge).
security:
- bearerAuth: []
- accessTokenQuery: []
- oauth2: []
tags:
- name: Stats
  description: Aggregate statistics across alerts.
paths:
  /accounts/{account_id}/stats:
    get:
      operationId: getStats
      summary: Fetch statistics
      description: 'Returns aggregate statistics alert by alert over a date range, with an extensive filter surface expressed entirely in the query string: date bounds and timezone, interval, folder flags, tone / language / source / country / tag filters, and switches for the week-day, per-interval tone, country and influencer breakdowns.'
      tags:
      - Stats
      externalDocs:
        description: Mention API reference
        url: https://dev.mention.com/current/src/account/stats/GetStats.html
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account.
        schema:
          type: string
        example: 12345_69gjjsg4itgkcco040okwsck700o4w8gsco0k4kco0s4scw8o0
      - name: alerts[]
        in: query
        required: true
        explode: true
        description: IDs of the alerts statistics are fetched for.
        schema:
          type: array
          items:
            type: integer
        example:
        - 112233
      - name: from
        in: query
        required: false
        description: Statistics are fetched for mentions retrieved after this date.
        schema:
          type: string
        example: '2015-03-27T00:00:00.0'
      - name: to
        in: query
        required: false
        description: Statistics are fetched for mentions retrieved before this date.
        schema:
          type: string
        example: '2016-01-10T00:00:00.0'
      - name: timezone
        in: query
        required: false
        description: Timezone applied to the from and to bounds.
        schema:
          type: string
        example: Europe/Berlin
      - name: interval
        in: query
        required: false
        description: 'Periodicity of the series: P1D daily, P1W weekly, P1M monthly.'
        schema:
          type: string
        example: P1D
      - name: favorite
        in: query
        required: false
        description: Only count mentions in the favorite folder. May be combined with important.
        schema:
          type: boolean
        example: true
      - name: important
        in: query
        required: false
        description: Only count mentions in the important folder. May be combined with favorite.
        schema:
          type: boolean
        example: true
      - name: week_day_stats
        in: query
        required: false
        description: Classify mentions by week day. Cannot coexist with week_day_by_hour_stats.
        schema:
          type: boolean
        example: true
      - name: week_day_by_hour_stats
        in: query
        required: false
        description: Classify mentions by hour of each week day. Cannot coexist with week_day_stats.
        schema:
          type: boolean
        example: true
      - name: tones_per_interval_stats
        in: query
        required: false
        description: Break tones down per interval.
        schema:
          type: boolean
        example: true
      - name: country_stats
        in: query
        required: false
        description: Break mentions down by country.
        schema:
          type: boolean
        example: true
      - name: influencers
        in: query
        required: false
        description: Include influencer statistics.
        schema:
          type: boolean
        example: true
      - name: tones[]
        in: query
        required: false
        explode: true
        description: Only count mentions of the given tones.
        schema:
          type: array
          items:
            type: integer
      - name: languages[]
        in: query
        required: false
        explode: true
        description: Only count mentions in the given language codes.
        schema:
          type: array
          items:
            type: string
      - name: sources[]
        in: query
        required: false
        explode: true
        description: Only count mentions from the given sources.
        schema:
          type: array
          items:
            type: string
      - name: countries[]
        in: query
        required: false
        explode: true
        description: Only count mentions from the given countries.
        schema:
          type: array
          items:
            type: string
      - name: tags[]
        in: query
        required: false
        explode: true
        description: Only count mentions carrying the given tags.
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/AcceptVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Aggregate statistics for the requested alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    OAuthError:
      type: object
      title: OAuth2 error
      description: Error envelope returned by the API gateway and the OAuth2 endpoints.
      properties:
        error:
          type: string
          example: access_denied
        error_description:
          type: string
          example: OAuth2 authentication required
    Stats:
      type: object
      title: Statistics
      description: Aggregate counters per alert over the requested range and interval.
      additionalProperties: true
    ValidationError:
      type: object
      title: Validation error
      description: Validation errors on POST and PUT requests are returned with a 400 status code. Field-level messages are keyed by field name under form.children and are intended to be displayed directly to the end user when they result from a form submission.
      properties:
        form:
          type: object
          properties:
            errors:
              type: array
              items:
                type: string
              description: Request-wide error messages.
            children:
              type: object
              description: Field-specific error messages, keyed by field name.
              additionalProperties:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
  responses:
    RateLimited:
      description: Rate limited. The response carries an X-Rate-Limit-Reset header holding the unix timestamp at which the limit resets.
      headers:
        X-Rate-Limit-Reset:
          description: Unix timestamp at which the rate limit resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    Unauthorized:
      description: Access was denied — missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    NotFound:
      description: The resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    Forbidden:
      description: Access was denied — the token is valid but not permitted on this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    ValidationError:
      description: Invalid input — query string, body or parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    PaymentRequired:
      description: Payment required — the account's plan does not cover this request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
  parameters:
    AcceptVersion:
      name: Accept-Version
      in: header
      required: false
      description: API version to use for this request, e.g. 1.21. When omitted, the version configured in the app's settings applies.
      schema:
        type: string
      example: '1.21'
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: Language used for translated resource fields.
      schema:
        type: string
      example: fr
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token passed in the Authorization header, prefixed with 'Bearer '. This is the preferred method. A token for your own account is available at the bottom of your app's settings page.
    accessTokenQuery:
      type: apiKey
      in: query
      name: access_token
      description: The same access token passed in the query string. Supported but discouraged, as it puts the credential in the URL.
    oauth2:
      type: oauth2
      description: 'Authorization-code flow used to obtain an access token for a third party''s Mention account. No scopes are defined: a granted token carries full access to the authorizing account.'
      flows:
        authorizationCode:
          authorizationUrl: https://web.mention.com/authorize
          tokenUrl: https://web.mention.net/oauth/v2/token
          scopes: {}
externalDocs:
  description: Mention API reference
  url: https://dev.mention.com/current/
x-generated-from: https://dev.mention.com/current/
x-generated-by: api-evangelist-enrichment-2026-08-13
