openapi: 3.2.0
info:
  title: Mention App API
  description: 'The Mention API is a JSON-based, RESTful API that gives programmatic access to the media monitoring and social listening platform: alerts (the keyword queries Mention crawls for), mentions (the results it finds), curation, tags, tasks, alert sharing, authors and influencers, and aggregate statistics.'
  version: '1.21'
  contact:
    name: Mention Support
    url: https://en.support.mention.com/
  license:
    name: Proprietary
    url: https://mention.com/en/terms-and-conditions/
servers:
- url: https://api.mention.net/api
  description: Mention API — the base URL named in Mention's own reference documentation.
- url: https://api.mention.com/api
  description: Alternate host observed answering the same API (returns the same OAuth2 challenge).
security:
- bearerAuth: []
- accessTokenQuery: []
- oauth2: []
tags:
- name: App
  description: Application reference data and vocabularies.
paths:
  /app/data:
    get:
      operationId: getAppData
      summary: Fetch application data
      description: 'Retrieves reference data about the application: available app languages, alert languages, alert countries, alert tones, alert sources, alert share roles, alert colors, task types, mention folders, mention log types, social account types, week days and the notification frequency vocabularies. Several properties are translated according to the Accept-Language request header. This endpoint is the source of the enumerated values used by the alert, mention, task and preference resources.'
      tags:
      - App
      externalDocs:
        description: Mention API reference
        url: https://dev.mention.com/current/src/app/Appdata.html
      responses:
        '200':
          description: Application reference data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppData'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      parameters:
      - $ref: '#/components/parameters/AcceptVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
components:
  schemas:
    OAuthError:
      type: object
      title: OAuth2 error
      description: Error envelope returned by the API gateway and the OAuth2 endpoints.
      properties:
        error:
          type: string
          example: access_denied
        error_description:
          type: string
          example: OAuth2 authentication required
    AppData:
      type: object
      title: Application data
      description: Reference vocabularies used across the API.
      properties:
        app_languages:
          type: object
          additionalProperties: true
        alert_languages:
          type: object
          additionalProperties: true
        alert_countries:
          type: object
          additionalProperties: true
        alert_tones:
          type: object
          additionalProperties: true
        alert_sources:
          type: object
          additionalProperties: true
        alert_share_roles:
          type: object
          additionalProperties: true
        countries:
          type: object
          additionalProperties: true
        task_types:
          type: object
          additionalProperties: true
        mention_folders:
          type: object
          additionalProperties: true
        mention_log_types:
          type: object
          additionalProperties: true
        social_account_types:
          type: object
          additionalProperties: true
        week_days:
          type: object
          additionalProperties: true
        push_notification_frequencies:
          type: object
          additionalProperties: true
        desktop_notification_frequencies:
          type: object
          additionalProperties: true
        email_notification_frequencies:
          type: object
          additionalProperties: true
        trending_email_notification_frequencies:
          type: object
          additionalProperties: true
        trending_sms_notification_frequencies:
          type: object
          additionalProperties: true
        alert_colors:
          type: array
          items:
            type: string
        locale:
          type: string
    ValidationError:
      type: object
      title: Validation error
      description: Validation errors on POST and PUT requests are returned with a 400 status code. Field-level messages are keyed by field name under form.children and are intended to be displayed directly to the end user when they result from a form submission.
      properties:
        form:
          type: object
          properties:
            errors:
              type: array
              items:
                type: string
              description: Request-wide error messages.
            children:
              type: object
              description: Field-specific error messages, keyed by field name.
              additionalProperties:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
  responses:
    RateLimited:
      description: Rate limited. The response carries an X-Rate-Limit-Reset header holding the unix timestamp at which the limit resets.
      headers:
        X-Rate-Limit-Reset:
          description: Unix timestamp at which the rate limit resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    Unauthorized:
      description: Access was denied — missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    NotFound:
      description: The resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    Forbidden:
      description: Access was denied — the token is valid but not permitted on this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
    ValidationError:
      description: Invalid input — query string, body or parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    PaymentRequired:
      description: Payment required — the account's plan does not cover this request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuthError'
  parameters:
    AcceptVersion:
      name: Accept-Version
      in: header
      required: false
      description: API version to use for this request, e.g. 1.21. When omitted, the version configured in the app's settings applies.
      schema:
        type: string
      example: '1.21'
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: Language used for translated resource fields.
      schema:
        type: string
      example: fr
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access token passed in the Authorization header, prefixed with 'Bearer '. This is the preferred method. A token for your own account is available at the bottom of your app's settings page.
    accessTokenQuery:
      type: apiKey
      in: query
      name: access_token
      description: The same access token passed in the query string. Supported but discouraged, as it puts the credential in the URL.
    oauth2:
      type: oauth2
      description: 'Authorization-code flow used to obtain an access token for a third party''s Mention account. No scopes are defined: a granted token carries full access to the authorizing account.'
      flows:
        authorizationCode:
          authorizationUrl: https://web.mention.com/authorize
          tokenUrl: https://web.mention.net/oauth/v2/token
          scopes: {}
externalDocs:
  description: Mention API reference
  url: https://dev.mention.com/current/
x-generated-from: https://dev.mention.com/current/
x-generated-by: api-evangelist-enrichment-2026-08-13
